* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 36px;
  background-color: #A1A1B3;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.intro {
  text-align: center;
  margin-top: 0.5em;
}

nav {
  display: flex;
  flex-direction: column;
}
.ancre {
  padding : 12%;
  background-color: #A1A1B3;
  margin: 10px 10%;
}

.retour {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: blue;
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

footer {
  background-color: #A1A1B3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1rem;
}

.column1 {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.column2 {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  margin-top: 0.5em;
}

.nav_foot {
  margin-top: 0.2em;
}

.parcours {
  background-color: lightgray;
}


.front {
  display: block;
  border: 1px solid black;
  border-radius:5px;
  padding: 2%;
}

.back {
  display: block;
  border: 1px solid black;
  border-radius:5px;
  padding: 2%;
}

.conclusion {
  display: block;
  border: 1px solid black;
  border-radius:5px;
  padding: 2%;
}

@media only screen and (min-width: 876px) {

}
body{width:96%;
height:100%;
background-color:white;}



li { 
  display:flex;
  list-style-type:none;
  flex-direction:row;
  width:96%;
  background-color:white;
  margin-top:2%;
  margin-bottom:2%;
}


h2
{
color:blue;
background-color:white;
margin-top:2%;
margin-bottom:2%;}


h3
{
color:grey;
font-size:1em;
text-align:justify;
background-color:white;
margin-top:2%;
margin-bottom:2%;}

p
{width:96%;
margin-left:2%;
margin-right:2%;
background-color:white;
text-align:justify;
border-bottom: 0.5px solid rgb(54, 50, 50);}

ul, li {
  padding:0;
  margin-top:2%;
  margin-bottom:2%;
  margin-right:2%;
  margin-left:2%;
  background-color:white;
}

img {margin-top:2%;}



h4
{
    color: grey;
}
#outils li p
{
    font-size: 0.8em;
    margin-top: 1%;
}
#outils ul
{
    list-style-type: none;
}
#outils, #frameworks p
{
    text-align: justify;
}
